# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.tfplan

# Ignore .terraform directory
**/.terraform/*

# Ignore any local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore tfvars files 
*.tfvars
*.tfvars.json
